@{
	ViewData["Title"] = "Home Page";
}

<div>
	<div class="card" style="width: 18rem;">
		<img src="@ViewBag.Questionnaire.Foto" class="card-img-top" alt="...">
		
		<div class="card-body">
			<h5 class="card-title">Questionnaire</h5>
			</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">@ViewBag.Questionnaire.LastName</li>
			<li class="list-group-item">@ViewBag.Questionnaire.FirstName</li>
			<li class="list-group-item">@ViewBag.Questionnaire.Patronymic</li>
			<li class="list-group-item">Phone @ViewBag.Questionnaire.Phone</li>

		</ul>

	</div>
</div>
